@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Basic Styling */

* {
  margin: 0;
  box-sizing: border-box;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Player Display';
  font-weight: normal;
}

p {
  font-family: 'Roboto';
}

/* About Me Section */

.content {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid green; */
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 450px;
  width: 90vw;
  padding: 1em;
}

.spacer {
  display: none;
}

.about-me-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 100%;
  object-fit: cover;
}

.about-me-name {
  position: absolute;
  bottom: 30px;
  font-size: 12vw;
  text-shadow: 0px 5px 10px gray;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 10px 10px gray;
  color: white;
}

.about-me-text {
  width: 90vw;
  margin-top: 1rem;
}

.about-me-text > h2 {
  font-weight: 500;
  font-size: 10vw;
  text-align: center;
}

.about-me-text > p {
  line-height: 1.5;
  font-size: 1.25rem;
  opacity: 0.8;
}

.background-accent-container {
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0px 5px 5px rgba(50, 50, 0, 0.5));
}

.background-accent {
  background-color: #0891b2;
  height: 400px;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.social-links {
  font-size: 10vw;
  margin-top: 1rem;
}

.social-links > i {
  padding: .5rem;
}

/* Projects */

.my-work {
  padding-top: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-work > h2 {
  padding-bottom: 0.5em;
}

.proj {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
  margin-bottom: 12em;
}

.proj-img {
  height: 850px;
  width: 850px;
  font-weight: normal;
  background-color: #7c75ca;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-img > p {
  color: white;
  text-align: center;
  font-family: 'Player Display';
  width: 75%;
}

.imgNum2 {
  background-color: #d88f39;
}

.imgNum3,
.imgNum6 {
  background-color: #5e8f4d;
}

.imgNum4 {
  background-color: #ca7599;
}

.imgNum5 {
  background-color: #4692d9;
}

.proj-text {
  width: 850px;
  height: 500px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  font-family: 'Playfair Display';
}

.link-icon {
  width: 4rem;
}

.proj-links {
  display: flex;
  gap: 4rem;
}

.proj-desc {
  padding-top: 2rem;
  opacity: 0.9;
  font-family: 'Roboto';
}

/* Footer */

footer {
  background-color: #0891b2;
}

.contact-me {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
}

.contact-message {
  margin-top: 3rem;
}

.contact-addr,
.other-contact {
  margin-top: 5rem;
  opacity: 0.9;
}

.phoneNum {
  margin-bottom: 1rem;
}

.contact-me-links {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 0;
}

.closing-img {
  width: 100vw;
  object-fit: cover;
  height: 30vh;
}

@media screen and (min-width: 425px) {
  body {
    background-color: white;
  }

  .background-accent {
    background-color: #0891b2;
    width: 100vw;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }

  .about-me {
    background-color: white;
    margin: 10em;
    padding: 0;
    font-size: 12px;
    flex-direction: row;
    display: block;
    /* border: 2px solid red; */
  }

  .about-me-text {
    flex-basis: 50%;
    padding: 6em 4em;
    /* border: 2px solid green; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .spacer {
    width: 375px;
    height: 350px;
    float: left;
    /* background-color: white; */
  }

  .about-me-text > h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .about-me-text > p {
    font-size: 1.25rem;
  }

  .about-me-image-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
    padding: 0px;
    /* top: -140px; */
    /* left: -50px; */
    max-width: 425px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .about-me-name {
    font-size: 3rem;
    top: 0;
    left: 110%;
  }

  .social-links {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: pink;
  }
}
